* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: none;
}
.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1001;
  filter: url("#goo");
}
.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
.char1 {
  transform: rotate(13deg);
}
.char2 {
  transform: rotate(26deg);
}
.char3 {
  transform: rotate(39deg);
}
.char4 {
  transform: rotate(52deg);
}
.char5 {
  transform: rotate(65deg);
}
.char6 {
  transform: rotate(78deg);
}
.char7 {
  transform: rotate(91deg);
}
.char8 {
  transform: rotate(104deg);
}
.char9 {
  transform: rotate(117deg);
}
.char10 {
  transform: rotate(130deg);
}
.char11 {
  transform: rotate(143deg);
}
.char12 {
  transform: rotate(156deg);
}
.char13 {
  transform: rotate(169deg);
}
.char14 {
  transform: rotate(182deg);
}
.char15 {
  transform: rotate(195deg);
}
.char16 {
  transform: rotate(208deg);
}
.char17 {
  transform: rotate(221deg);
}
.char18 {
  transform: rotate(234deg);
}
.char19 {
  transform: rotate(247deg);
}
.char20 {
  transform: rotate(260deg);
}
.char21 {
  transform: rotate(273deg);
}
.char22 {
  transform: rotate(286deg);
}
.char23 {
  transform: rotate(299deg);
}
.char24 {
  transform: rotate(312deg);
}
.char25 {
  transform: rotate(325deg);
}
.char26 {
  transform: rotate(338deg);
}
.char27 {
  transform: rotate(351deg);
}
.char28 {
  transform: rotate(364deg);
}

.line-vertical,
.line-horizontal,
.lines .line1,
.lines .line2,
.lines .line3,
.lines .line4,
.lines .line5 {
  position: absolute;
  background-color: #ede8e5;
}
.line-vertical,
.lines .line3,
.lines .line4,
.lines .line5 {
  width: 2px;
  height: 100%;
  top: 0;
}
.line-horizontal,
.lines .line1,
.lines .line2 {
  width: 100%;
  height: 2px;
  left: 0;
}
.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.lines .line1 {
  top: 36vh;
}
.lines .line2 {
  top: 64vh;
}
.lines .line3 {
  left: 22vw;
}
.lines .line4 {
  left: 78vw;
}
.lines .line5 {
  left: 50vw;
}
.design {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 5;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
}
.design a {
  color: #000;
}
@-moz-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 499px) {
  .Cursor span {
    background: #0000;
  }
}
