.slider-wrapper{
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
}

.slider-wrapper p,
.slider-wrapper a,
.slider-wrapper ul li {
  font-weight: 400;
  font-size: 20px;
}
.main-title {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.slider {
  margin: 80px 0;
  height: 200px;
  display: block;
  perspective: 1000px;
  position: relative;
  width: 100vw;
}

.slide {
  --slide-width: 320px;
  --slide-height: 380px;
  user-select: none;
  margin-left: -10px;
  display: inline-block;
  width: var(--slide-width);
  height: var(--slide-height);
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s all;
  border-radius: 20px;
  color: white;
  backdrop-filter: blur(10px);
  border: double 1px #25252505;
  background-image: linear-gradient(to right, #25252560, #05050560);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow:hidden;
}

.slide-container {
  padding: 20px 30px;
}
.slide-container:after {
  content: "";
  z-index: -1;
  width:100%;
  height:100%;
  background-color: #1112;
  position: absolute;
  top:0;
  left:0;
}
.slide-container img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0;
  width:100%;
  transition: opacity .3s;
}
.slide:hover .slide-container img{
  opacity: .6;
  transition: opacity .3s;
}

.slide-Title{
  font-size: 28px;
  margin-bottom: 10px;
}
.slide-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide-container ul li {
  padding: 0;
}
.slide-container ul li:first-child{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}

.slide.active {
  z-index: 4;
}


@media (max-width: 768px){
  .slider-wrapper{
    margin:0;
    padding:0;
    height:400px;
    overflow:hidden;
  }
  
  .slider {
    margin: 50px 0;
    display: block;
    perspective: 500px;
    position: relative;
    width: 100vw;
  }
  .slide {
    --slide-width: calc(320px * .65);
    --slide-height: calc(380px * .65);
    user-select: none;
    margin-left: 45px;
    display: inline-block;
  }
  .slide-Title{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .slide-container {
    padding: 10px 15px;
    border-radius: 10px;
  }
  .slider-wrapper p,
  .slider-wrapper a,
  .slider-wrapper ul li {
    font-size: 12px;
  }
  .slider-wrapper br{
    display:none;
  }
}