html,
body {
  cursor: none;
  user-select: none;
  /* font-size: 62.5%; */
}
body {
  margin: 0;
  background-image: none;
  background-color: #111;
  color: #aaa;
  font-size: 1.2rem;
  font-family: "Samim", sans-serif;
}
a.link {
  color: #ffc114;
  text-decoration: none;
  transition-duration: 2s;
  cursor: none;
}
a.link:hover {
  color: #32ccff;
  transition-duration: 0.5s;
}

/* About */
.about {
  margin: 2rem 10rem 1rem;
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: justify;
}
.about strong {
  display: inline-block;
  color: #ccc;
  background-size: 100% 20%;
  background-repeat: repeat-x;
  background-position: left 0% bottom -10%;
  background-image: linear-gradient(
    179deg,
    #ffc114 0%,
    #ffc114 20%,
    transparent 54%,
    transparent 100%
  );
}

.boxContainer {
  overflow-x: hidden;
}
.box {
  position: relative;
  width: 40%;
  padding: 1.5rem 2rem;
  border-radius: 0 1rem 1rem 0;
  text-align: justify;
  background-color: #252525;
  overflow-x: hidden;
  /* center mobile 	*/
  display: table;
  margin: 4rem auto;
  transition-duration: 0.5s;
}

.boxLeft {
  float: left;
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  transform: translateX(-5rem);
  transition-duration: 0.5s;
}
.boxLeft:hover {
  transition-duration: 0.5s;
  transform: translateX(2rem) scale(1.2);
}

.boxRight {
  float: right;
  padding-right: 3rem;
  border-radius: 1rem 0rem 0rem 1rem;
  transform: translateX(5rem);
  transition-duration: 0.5s;
}
.boxRight:hover {
  transition-duration: 0.5s;
  transform: translateX(-2rem) scale(1.2);
}

.imageInBox {
  margin: 0rem auto 1rem;
  max-width: 10rem;
  display: table;
}

.thisSkill {
  position: absolute;
  top: 0;
  background-color: #444;
  padding: 0.4rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.thisSkillRight {
  left: 1rem;
}
.thisSkillLeft {
  right: 1rem;
}

.rightMargin {
  margin-top: 10rem;
}

.clear {
  clear: both;
}

h1.know {
  color: #eee;
  text-align: center;
}
.halfMark {
  padding: 2rem;
  box-shadow: inset 0rem -0.8em 0 #32ccff;
  transition: box-shadow 0.6s ease-in-out;
  padding: 0;
}
.halfMark:hover {
  box-shadow: inset 0 -2em 0 #d20078;
  transition: box-shadow 0.4s ease-in-out;
}

/* contact */
.inTouch {
  color: #f3f3f3;
}
.list {
  font-family: "Samim", sans-serif;
}
.contactItem {
  /* width: 50%; */
  text-align: center;
  margin: 0.5rem auto;
}
.listItem {
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  transition-duration: 0.5s;
}
.listItem:hover {
  height: 10rem !important;
  font-size: 2rem;
  transition-duration: 0.5s;
}
.contactRef {
  text-decoration: none;
  color: inherit;
  cursor: none;
}
.email {
  color: #f82c3d;
}
.github {
  color: #909090;
}
.telegram {
  color: #2ea6da;
}
.linkedin {
  color: #0077b5;
}
.dribbble {
  color: #ea4c89;
}
.empty {
  height: 20vh;
}

.buttonCenter {
  display: flex;
  display: table;
  margin: auto;
}

.contact {
  border: none;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  color: #eee;
  background-color: #0000;
  cursor: none;
  transition-duration: 1s;
}
/* #ffc114 */
/* #d20078 */
/* #32ccff */
/* #02a556 */

.contact:hover {
  transition-duration: 0.5s;
}

.hidden {
  visibility: hidden;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 10rem;
}

/* input */
input.theInp {
  margin-bottom: 0.5rem;
  width: 80%;
}
.inp {
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  height: 9vh;
  min-height: 4rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #181818;
  color: var(--color);
  transition: background 0.5s linear;

  font-family: "Samim", sans-serif;
}
.inp:focus {
  background: #252525;
  transition: background 0.5s linear;
}
.bigInput {
  width: 80%;
  font-size: 1.2rem;
}

.textArea {
  max-width: 80%;
  min-width: 80%;
  height: 40vh;
  min-height: 10vh;
  margin-bottom: 0.1rem;
}
.textArea:focus {
  background: #252525;
}
.someMargin {
  margin-top: 10vh;
}
@media screen and (min-width: 768px) {
  .textArea {
    width: 65%;
    max-width: 65%;
    min-width: 65%;
    height: 40vh;
  }
  .btn-smaller {
    width: 65%;
  }
  .theInp {
    width: 65%;
    max-width: 65%;
    min-width: 65%;
  }
  .bigInput {
    width: 65%;
  }
}
/* Btn */
.btn {
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-family: "Vazir", sans-serif;
  width: 80%;
  height: 3rem;
  min-height: 4rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #333;
  color: var(--color);
  transition-duration: 0.5s;
}

.btn:hover,
.btn:focus {
  background: #444;
  transition-duration: 0.5s;
}
.btn-container {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .btn {
    /* width: 70%; */
  }
  button.btn-alone {
    width: 65%;
  }
  .btn-right {
    float: left;
    margin-left: 1rem;
  }
  .btn-left {
    float: right;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    font-size: 1rem;
    margin: 1rem 2rem 1rem;
    line-height: 1.8rem;
  }

  hr.divider {
    margin: 2rem 1rem;
  }
  .imageInBox {
    max-width: 7rem;
  }

  .imageInBox {
    display: table;
    margin: 0rem auto 1rem;
  }

  article.firstBoxRight,
  article.firstBoxLeft {
    margin-top: 2rem;
  }
  .boxRight {
    transform: none;
    padding: 1.5rem 2rem;
  }
  .boxLeft {
    transform: none;
    padding: 1.5rem 2rem;
  }
  .box {
    width: 75%;
    margin: 2rem auto;
    font-size: 1.1rem;
  }
  .boxRight:hover {
    transform: none;
  }
  .boxLeft:hover {
    transform: none;
  }

  .listItem {
    font-size: 1.5rem;
    font-weight: bold;
  }

  #box {
    width: 15rem;
    height: 7rem;
  }

  .contact {
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    color: #eee;
    background-color: #0000;
    /* cursor: none; */
    transition-duration: 1s;
  }
  .gradient-border {
    --borderWidth: 1rem;
    background: #111;
    position: relative;
    border-radius: var(--borderWidth);
    transition-duration: 2s;
  }
  .gradient-border:hover {
    border-radius: 7rem;
    transition-duration: 2s;
  }
  .viewport {
    width: 95vw;
    height: 75vh;
    top: 5vh;
    left: 2.5vw;
  }
  .tiles div {
    width: 40vw;
    height: 13vh;
    margin: 0.5rem;
  }
}

/* Icons */
.githubIcon {
  height: 1.7rem;
  vertical-align: middle;
}
.ok {
  margin-top: 5rem;
  font-size: 3rem;
  color: #6aff6a;
  text-align: center;
  font-weight: bold;
}
.error {
  margin-top: 5rem;
  font-size: 3rem;
  color: #f82c3d;
  text-align: center;
  font-weight: bold;
}

.boxShadow {
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.boxShadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

svg {
  display: inline !important;
}
#svg {
  position: fixed;
  top: 1.2rem;
  right: 0.8rem;
  width: 1.5rem;
}

@media screen and (min-width: 768px) {
  #svg {
    right: 1rem;
    width: 2rem;
  }
}

#refs {
  margin-top: 10vh;
}
.reference {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.refContent {
  transition-duration: 0.5s;
}
.refContent:hover {
  transform: scale(1.25);
  transition-duration: 0.5s;
}
.imageRef {
  margin: 0.7vw;
}
.imageRef img {
  height: 7vw;
}
